<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <div>
        <h2 th:text="${title}">Default Title</h2>
    </div>
    <div>
        <div>
            <tr>
                <td><h1>My Book List</h1></td>
            </tr>
        </div>
        <div class="new-book-div">
            <tr>
                <td><a href="/book-logger/add">Add New Book</a></td>
            </tr>
        </div>
        <div>
            <p class="noBook" th:unless="${books} and ${books.size()}">No book :( </p>

            <table class="table">

                <tr class="table-header">
                    <th>Title</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Published Year</th>
                    <th>Rating</th>
                    <th>Actions</th>
                </tr>

                <tr class="" th:classappend="${bIndex.even} ? table-primary : table-secondary" th:each="book, bIndex : ${books}">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.category}"></td>
                    <td th:text="${book.published_year}"></td>
                    <td><span th:if="${book.rating == null}">Not Rated</span> <input th:if="${book.rating != null}" id="input1" type="text" th:value="${book.rating}" data-readonly="true" class="rating" data-size="xs" data-show-clear="false" data-show-caption="false" data-step="1"/></td>
                    <td><a th:href="'/book-logger/edit/' + ${book.id}">Edit</a>&nbsp;&nbsp;
                        <a th:href="'/book-logger/rating/' + ${book.id}">Complete</a> &nbsp;&nbsp;
                        <a th:href="'/book-logger/delete/' + ${book.id}" onclick="return confirm('Are you sure you want to delete the book?');">Delete</a></td>
                </tr>

            </table>
        </div>
    </div>

</div>
</body>
<script>
$(document).on('ready', function () {
    $("#input1").rating({'size':'sm',
        'displayOnly': 'true',
        });
});
</script>
</html>

